@import "tailwindcss";

@theme {
  --color-vsp-primary: #5b8cff;
  --color-vsp-dark: #080a0f;
  --color-vsp-surface: #11141d;
}


@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased bg-vsp-dark text-slate-200;
    font-family: 'Inter', system-ui, sans-serif;
  }
  
 
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #080a0f;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #5b8cff;
  }
}